httpx==0.24.1
allure-pytest==2.13.2
pytest-xdist==3.3.1
filelock==3.12.2
persist-queue==0.8.1
pydantic==2.1.1
pydantic-settings==2.0.2
python-dotenv==1.0.0
validators==0.20.0
waiting==1.4.1
Pillow==9.5.0
opencv-python==4.8.0.74
matplotlib==3.5.3
seleniumbase==4.21.0